# Ignore everything by default.
*

# Keep this ignore file tracked.
!.gitignore

# Track only the specific folders inside student-centered
!student-centered/
!student-centered/student-dashboards/
!student-centered/student-dashboards/**
!student-centered/teacher-dashboard/
!student-centered/teacher-dashboard/**
!student-centered/panduan-scl-cabang.html

*.py

!student-centered/book-editor-slides/
!student-centered/book-editor-slides/**
student-centered/book-editor-slides/venv/
student-centered/book-editor-slides/__pycache__/
student-centered/book-editor-slides/server.log

# Track trial-new folder
!trial-new/
!trial-new/**
